<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glw.blog.dao.BloggerDao">
  <resultMap id="BaseResultMap" type="com.glw.blog.pojo.Blogger">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
    <result column="birthdate" jdbcType="TIMESTAMP" property="birthdate" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, password, photo, email, state, reg_date, birthdate, last_login
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_blogger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="com.glw.blog.bo.BloggerBO" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_blogger
    where state=1
		<if test="userName != null">
		 and user_name = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="password != null">
		 and password = #{password,jdbcType=VARCHAR}
		</if>
  </select>
  <select id="countAll" parameterType="com.glw.blog.bo.BloggerBO">
    select 
    count(id)
    from tb_blogger
    where state=1
		<if test="userName != null">
		 and user_name = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="password != null">
		 and password = #{password,jdbcType=VARCHAR}
		</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_blogger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.glw.blog.pojo.Blogger">
    insert into tb_blogger ( user_name, password, 
      photo, email, state, 
      reg_date, birthdate, last_login
      )
    values ( #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      now(), #{birthdate,jdbcType=TIMESTAMP}, #{lastLogin,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.glw.blog.pojo.Blogger">
    insert into tb_blogger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="state != null">
        state,
      </if>
        reg_date,
      <if test="birthdate != null">
        birthdate,
      </if>
      <if test="lastLogin != null">
        last_login,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
        now(),
      <if test="birthdate != null">
        #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.glw.blog.pojo.Blogger">
    update tb_blogger
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="regDate != null">
        reg_date = #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="birthdate != null">
        birthdate = #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glw.blog.pojo.Blogger">
    update tb_blogger
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      reg_date = #{regDate,jdbcType=TIMESTAMP},
      birthdate = #{birthdate,jdbcType=TIMESTAMP},
      last_login = #{lastLogin,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>